* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./media/fon1stalker.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    height: 100%;
    margin: 10;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.612); /* Темне затемнення */
  z-index: -1; /* Псевдоелемент позаду всього контенту */
}

@media (max-width: 968px) {
    body {
      background-image: url('./media/fon2stalker.jpg');
    }
  }

body p{
    margin-top: 20px;
    font-size: 25px;
    font-family: "Jura";
    color: rgb(0, 0, 0);
    margin: 15px;
    max-width: 1000px;
}

.phone{
    transition: transform 0.3s, background-color 0.3s;
}

.tablet{
    transition: transform 0.3s, background-color 0.3s;
}

.PC{
    transition: transform 0.3s, background-color 0.3s;
}

.phone, .PC{
width: 100px;
height: 100px;
border-radius: 20px;
background-color: rgb(227, 227, 227);
margin: 20px;
display: inline-block;
margin-top: 100px;
margin-bottom: 80px;
}

.phone, .PC, img{
width: 100px;
}

.PC img{
    padding: 10px;
}


.baza{
    text-align: center;
}

.vid p{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.588);
    padding: 5px;
    border-radius: 10px;
}

.PC:hover {
    transform: scale(1.1); /* Збільшує розмір на 10% */
    background-color: #00eaff; /* Робить трохи темнішим */
  }


  .phone:hover {
    transform: scale(1.1); /* Збільшує розмір на 10% */
    background-color: #00eaff; /* Робить трохи темнішим */
  }

  
.Baza1{
    text-align: center;
    background-color: #0c8b4b;
    width: 350px;
    height: 150px;
    padding-top: 20px;
    border: 4mm ridge rgba(12, 70, 45, 0.6);
}

  .Baza1 img {
    height: 50px; /* Розмір логотипа */
  }
  
  .Baza1 p {
    margin: 0;
    font-size: 24px;
    color: rgb(0, 0, 0); /* Текст логотипа */
    font-weight: bold;
    margin-left: 10px; /* Відступ між зображенням і текстом */
  }
  
  .Baza1 > div {
    display: flex;
    align-items: center;
  }
